@model Daffodill.Domain.Words

@{
    ViewData["Title"] = "GetRandom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="https://dictionary.cambridge.org/dictionary/english/@Model.English"target="_blank">@Model.English</a></h1>

<div>
    <h4>@Model.WordNote</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Created Date : 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            Viewed : 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViewCount)
        </dd>
        <dt class = "col-sm-2">
            Last Viewed : 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastViewedDate)
        </dd>
    </dl>
    <hr />
    @foreach (var wordsMeanings in Model.WordsMeanings)
    {
        <p><b><i>@wordsMeanings.Meaning</i></b></p>
        @foreach (var wordsExamples in wordsMeanings.WordsExamples)
        {
            <p>@wordsExamples.Example</p>
        }
        <hr />
    }
</div>
